<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njcool.console.dao.AuthMapper">

    <select id="queryAllPermissions" resultType="com.njcool.console.common.domain.PermissionDo">
        select * from console_menu
    </select>

    <select id="queryUserPermissionById" resultType="com.njcool.console.common.domain.PermissionDo">
        select
            id,
            name,
            code,
            url
        from console_menu m
        where exists (
          select * from console_user u where find_in_set(m.id, u.permission_ids)
          and u.id = #{userId}
        )
    </select>

</mapper>